.edit-product {
  &__btn {
  }

  &__form {
    &-btn {
      background-color: $stockx-color;
      width: 15px;
      color: white;

      &--bold {
        font-weight: $fontWeights-black;
      }
    }
  }

  &__form-error-msg {
    &--red {
      color: red;
    }
  }
}
