.hero {
  &__container {
    margin-inline-start: auto;
    margin-inline-end: auto;
    max-width: 1296px;
    position: relative;
  }

  &__header {
    margin: 0;
  }

  &__image {
    width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 1015 / 628;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    width: 45%;
    max-width: rem(400);

    &-logo {
      max-width: 100%;
      height: auto;
      margin-bottom: rem(5);
    }

    &-description {
      margin: 0;
    }
  }

  @include for-mobile {
    &__content {
      &-description--size {
        font-size: $fontSizes-sm;
      }
    }
  }

  @include for-tablet-up {
    &__content {
      &-description--size {
        font-size: $fontSizes-md;
      }
    }

    &__image {
      max-height: rem(740);
    }

    &__content {
      top: 40%;
    }
  }

  @include for-desktop {
    &__container {
      padding: 0 rem(16);
    }
  }
}
