$stockx-color: #006340;
$stockx-color-hover: #384c3c;
$black: black;
$gray: #5f5f5f;
$lightgray: #d4d1c7;
$white: white;
$background-color: #f4f4f5;
$notification-color: #e9e8e3;
$red: #bb2c2c;
$background-color-hover: #e5e7eb;
// #fafafa
