.cart-table {
  &__bottom-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    &-price {
      width: 100%;
      display: flex;
      padding-right: rem(26);
      flex-direction: row-reverse;
      margin-bottom: rem(16);

      &--bold {
        font-weight: $fontWeights-bold;
      }
    }
  }
}
