.wishlist-info {
  flex: 1 1 auto;
  height: fit-content;
  margin-top: rem(6);

  &__container {
    padding: rem(16);
  }

  &__btn {
    width: rem(160);

    background-color: $stockx-color;
    color: $white;

    &-container {
      display: flex;
      justify-content: center;
      padding: 0 rem(16) rem(16) rem(16);
    }
  }
}
