.my-select {
  display: flex;
  justify-content: space-between;
  padding: rem(10);
  border-radius: rem(12);
  margin-bottom: rem(16);
  &--color {
    background-color: #f8f4f4;
    &:hover {
      background-color: #e8e4e4;
    }
  }

  &__option {
    align-items: center;
    &--color {
      background-color: #f8f4f4;
    }
    &:hover {
      background-color: #e8e4e4;
    }
  }
}
